<header class="header" th:fragment="commonHeader">
    <div class="header-left">
        <table border="1">
            <tr>
                <th>&nbsp;名　前&nbsp;</th>
                <td>&nbsp;&nbsp;ACT 太郎&nbsp;&nbsp;</td><!-- 最終的には変数にする -->
            </tr>
            <tr>
                <th>&nbsp;所　属&nbsp;</th>
                <td>&nbsp;&nbsp;UNIT1&nbsp;&nbsp;</td><!-- 最終的には変数にする -->
            </tr>
            <tr>
                <th>&nbsp;チーム名&nbsp;</th>
                <td>&nbsp;&nbsp;Discovery&nbsp;&nbsp;</td><!-- 最終的には変数にする -->
            </tr>
            <tr>
                <th>&nbsp;役　職&nbsp;</th>
                <td>&nbsp;&nbsp;一般社員&nbsp;&nbsp;</td><!-- 最終的には変数にする -->
            </tr>
        </table>
    </div>

    <div class="header-center">
        <h1>勤急連絡システム</h1>
    </div>

    <div class="header-right">
        <button>メニューに戻る</button>
        <button>ログアウト</button>
    </div>
</header>
