h1{
    text-align: center;
}

p{
    margin-top: 24px;
    margin-bottom: 5px;
}

.center{
    text-align: center;
    margin: auto;
}

.botton{
        margin-left: 60%;
}

.font-normal p{
  margin: 0;
  gap: 4px 12px;
  font-size: 20px;
}

body {
  font-family: sans-serif;
  margin: 20px;
}