.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background:#b0d5fb
}


/* 表 */
.table-header{
  border: 2px solid #666;
  border-collapse: collapse;
}

.table-header th,
.table-header td {
    border: 2px solid #666;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    height: 25px;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
}

.header-left {
  display: grid;
  grid-template-columns: auto auto;
  border: 2px solid #666;
  border-collapse: collapse;
}

.label-header {
  font-weight: bold;
  text-align: right;
}

.value-header {
  text-align: left;
}

/* 見出し */
.header-center {
  flex: 1;                 /* 中央エリアを広げる */
  display: flex;           /* 子要素を flex で配置 */
  justify-content: center; /* 横方向の中央寄せ */
  align-items: center;     /* 縦方向の中央寄せ */
}

.header-center h1 {
  font-size: 50px;
  margin: 0;               /* 余計な余白を消す */
}

.header-right {
  display: flex;
  gap: 10px;
}

/* ボタンデザイン（メニューに戻る） */
.button-menu{
  height: 30px;
  width: 130px;
}

/* ボタンデザイン（ログアウト） */
.button-logout{
  height: 30px;
  width: 120px;
}