h1{
    text-align: center;
}

p{
    margin-top: 24px;
    margin-bottom: 5px;
}

.button{
    text-align: center;
    width: 200px;
    height: 80px;
    font-size: 2.0em;
}

.center{
    text-align: center;
    margin: auto;
}