<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/report.css">
		<title>ログイン</title>
	</head>
	<body style="text-align: center;">
		<div th:if="${error} == 1 ">
			<h1 th:text="${errorMessage}">ここにメッセージが表示されます</h1>
		</div>
		<h2 style="text-align: center;">ログイン</h2>
		<hr/>
		<div style="text-align: center;">
			<form action="/menu" method="POST">
				<table style="margin: auto;">
					<tr>
						<th>社員ID</th>
						<td><input type="text" id="empID" name="empID" value="" size="24"></td>
					</tr>
					<tr>
						<th>パスワード</th>
						<td><input type="password" id="password" name="password" value="" size="24"></td>
					</tr>
				</table>
				<input type="submit" value="ログイン" />
			</form>
			
		</div>
	</body>
</html>