<!DOCTYPE html>
<html lang="ja">
    <head>
     <meta charset="UTF-8">
        <title>メニュー</title>
    </head>
 <body>
     <div style="text-align: center;">
      <!-- ヘッダーがここに入る -->
      <p style="font-size: 2.0em;">ヘッダー想定場所</p>
		  <!-- ヘッダーがここに入る -->
	 </div>
   <div style="text-align: center;">
		  <h1>メニュー</h1>
	 </div>

   <div style="text-align: center;" class="fixed-bottom text-center">
    <button style="width: 200px; height: 80px; font-size: 2.0em;" class="btn btn-info btn-round" onclick="location.href='/report'" >
      報告
    </button>
		<button style="width: 200px; height: 80px; font-size: 2.0em;" class="btn btn-info btn-round" onclick="location.href='/search'">
      参照
    </button>
  </div>
  </body>
</html>