<!DOCTYPE html>
<html lang="ja">
    <head>
     <meta charset="UTF-8">
        <title>メニュー</title>
    </head>
 <body>
     <div align="center">
      <p text-indent: 50em;>"aaadd"</p>
		  <!-- ヘッダーがここに入る -->
	 </div>
   <div align="center">
		  <h1>メニュー</h1>
	 </div>
   <!-- <div align="right">
		<p style="text-align: right">ユーザーネーム</p>
		<a href="Login.html">ログアウト</a>
	 </div> -->

   <div align="center" class="fixed-bottom text-center">
    <button class="btn btn-info btn-round" onclick="location.href='Register.html'" >報告</button>
		<button class="btn btn-info btn-round" onclick="location.href='Reference.html'">参照</button>
  </div>
  </body>
</html>