<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
      <title>メニュー</title>
      <link rel="stylesheet" href="css/common.css">
      <link rel="stylesheet" th:href="@{/css/menu.css}">
      <link rel="stylesheet" th:href="@{/css/header.css}">
  </head>

 <body>
  <div th:replace="fragments/header :: commonHeader"></div>
    <div class="center">
        <h1>メニュー</h1>
    </div>
    
    <div class="center">
      <button class="button" onclick="location.href='/forReport'" >
        報告
      </button>
      <button class="button" onclick="location.href='/forSearch'">
        参照
      </button> 
    </div>
    <script src="/js/common.js"></script>
    <script>
        Common.setupLogoutOnUnload();
    </script>
  </body>
</html>