<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/report.css">
    <title>報告画面</title>
</head>

<body>
    <form action="/resist" method="post">
    <div id="report" class="hidden">
        <div>
            <h1>初回連絡登録</h1>
        </div>
        <!-- フォーマット選択、路線検索、検索ボタン -->
        <div class="containerWrapper">
            <div class="format">
                <p>フォーマット選択</p>
                <select name="format" id="format">
                    <option value="train">電車遅延</option>
                    <option value="free">フリーフォーマット</option>
                </select>
            </div>
            <div class="containerMiddle">
                <div id="train" class="hidden">
                    <div>
                        <p>路線検索</p>
                        <input class="detail" type="text">
                    </div>
                    <div class="searchButton">
                        <button>検索</button>
                    </div>
                    <!-- 路線選択チェックボックス -->
                    <div class="route">
                        <label class="checkLb">
                            <input type="radio" name="line" value="A">山手線
                        </label>
                        <label class="checkLb">
                            <input type="radio"name="line" value="B" checked>その他
                        </label>
                    </div>
                    <!-- 内容 -->
                    <div>
                    </div>
                </div>
                <div id="free">
                    <div>
                        <p>内容</p>
                        <textarea class="inputDetail" name="inputDetail">
電車遅延時間：分
現場遅刻時間：分
                </textarea>
                <div>※500文字以内で入力してください。</div>
                    </div>
                </div>
            </div>
        </div>
            <button class="botton" type="submit">登録</button>
    </div>
    </form>
    <form action="/report" method="request">
    <div id="confirm" class="hidden">
        <h1>
            登録内容表示
        </h1>
        <p class="updateMessage">登録完了しました！</p>
        <div class="confirmDetail">
            <div>
                <p>使用路線</p>
                <div th:text="${line}"></div>
            </div>
            <div>
                <p>内容</p>
                <textarea readonly class="inputDetail" name="inputDetail" th:text="${inputDetail}"></textarea>
            </div>
        </div>
        <div class="botton">
            <div class="registButton">
                <button type="submit">編集</button>
            </div>
        </div>
    </div>
    </form>
</body>

<script th:inline="javascript">
    // 登録or確認フラグ
    const typeFlg = [[${typeFlg}]];
    // フォーマットフラグ
    const formatFlg = [[${formatFlg}]];
    const train = document.getElementById("train");
    const free = document.getElementById("free");
    const report = document.getElementById("report");
    const confirm = document.getElementById("confirm");

    if (typeFlg == 1) {
        report.classList.remove("hidden");
        if (formatFlg == 1) {
            train.classList.remove("hidden");
        }
    } else if (typeFlg == 2) {
        confirm.classList.remove("hidden");
    }

    const menu = document.getElementById('format');
    menu.addEventListener('change', (event) => {
        const selectedItem = event.target.value;
        if(selectedItem == "train"){
            train.classList.remove("hidden");
        } else if (selectedItem == "free"){
            train.classList.add("hidden");
        }
    });
    /* 未実装
    searchWord = function(){
        var searchResult,
            searchText = ${this}.val(), // 検索ボックスに入れた値
            targetText,
            hitNum;
    }
    */

</script>

</html>