<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/search-detail.css">
        <title>検索・参照</title>
    </head>
    <body>
        <table>
            <tr>
                <td rowspan="2">&nbsp;検索条件&nbsp;</td>
                <td style="border-right: none; border-bottom: none;">開始日</td>
                <td style="border-right: none; border-left: none; border-bottom: none;">&nbsp;&nbsp;&nbsp;</td>
                <td style="border-left: none; border-bottom: none;">終了日</td>
            <tr>
                <td style="border-right: none; border-top: none;">&nbsp;<input type="date" id="start-date">&nbsp;</td>
                <td style="border-right: none; border-left: none; border-top: none;">&nbsp;-&nbsp;</td>
                <td style="border-left: none; border-top: none;">&nbsp;<input type="date" id="end-date">&nbsp;</td>
            </tr>
        </table>
    </body>
</html>